<p-divider class="bg-purple-600 p-divider"></p-divider>
<div class="flex justify-center min-h-screen px-10 py-6 bg-gray-100">
  <p-card class="w-full max-w-7xl">
  <h2 class="text-xl font-bold text-gray-700 text-center">Piyasa Verileri</h2>
    <body class="bg-gray-100 p-4">
    <div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
      <div>
      </div>
      <table id="marketTable" class="w-full">
        <thead class="bg-purple-300">
        <tr>
          <th class="text-center p-3 text-sm font-medium text-gray-600">Piyasa</th>
          <th class="text-center p-3 text-sm font-medium text-gray-600">Değer</th>
          <th class="text-center p-3 text-sm font-medium text-gray-600">Değişim</th>
        </tr>
        </thead>
        <tbody id="marketTableBody">
        <!-- Satırlar JavaScript ile doldurulacak -->
        </tbody>
      </table>
    </div>
    </body>
  </p-card>
</div>
<footer class="bg-purple-600 text-white text-center p-4">
  <p class="text-sm">💙 Finansal Tahmin Sistemi - Tüm Hakları Saklıdır.</p>
  <p class="text-xs mt-2">Made with 💖 by <span class="font-semibold">Bazo</span></p>
</footer>
