
<div class="bg-blue-600 text-white p-4">
  <nav class="bg-blue-600 p-4 flex justify-between items-center text-white">
  <div class="text-lg font-semibold">Finansal Tahmin Sistemi</div>
  <div>
    <button class="bg-blue-800 p-2 rounded-md">Profil</button>
  </div>
</nav>
    <nav class="navigation flex justify-center ">
      <a routerLink="/" class="text-lg hover:bg-blue-800 px-4 py-2 rounded-md">Ana Sayfa</a>
      <a routerLink="/hisselerimiz" class="text-lg hover:bg-blue-800 px-4 py-2 rounded-md">Kurumlar</a>
      <a routerLink="/radar" class="text-lg hover:bg-blue-800 px-4 py-2 rounded-md">Radar</a>
      <a routerLink="/hisse-karşılaştır" class="text-lg hover:bg-blue-800 px-4 py-2 rounded-md">Hisse Karşılaştır</a>
      <a routerLink="/öne-çıkanlar" class="text-lg hover:bg-blue-800 px-4 py-2 rounded-md">Öne Çıkanlar</a>
      <a routerLink="/piyasa" class="text-lg hover:bg-blue-800 px-4 py-2 rounded-md">Piyasa</a>
      <a routerLink="/iletisim" class="text-lg hover:bg-blue-800 px-4 py-2 rounded-md">İletişim</a>
    </nav>
</div>
<router-outlet></router-outlet>


