<p-divider class="bg-purple-600 p-divider"></p-divider>
<div class="flex justify-center min-h-screen px-10 py-6 bg-gray-100">
  <p-card class="w-full max-w-7xl">
    <header class="text-xl font-bold text-center">Kurumlar</header>
    <div class="grid grid-cols-4 grid-rows-3 gap-6 bg-orange-200 border-2 border-orange-300 p-6 mt-5">
      <div class="border-2 border-orange-500 p-4">
        <img [src]="'assets/logos/AAPL.png'" alt="Kurum Logosu" class="w-24 h-24 object-contain" 
             class="max-w-full max-h-full object-contain"
        />

      </div>

      <div class="border-2 border-orange-500 p-4">
        <img [src]="'assets/logos/AMZN.png'" alt="Kurum Logosu" class="w-24 h-24 object-contain" 
             class="max-w-full max-h-full object-contain"
        />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img [src]="'assets/logos/GOOGL.png'" alt="Kurum Logosu" class="w-24 h-24 object-contain" 
              class="max-w-full max-h-full object-contain"
        />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img [src]="'assets/logos/INTC.png'" alt="Kurum Logosu" class="w-24 h-24 object-contain" 
              class="max-w-full max-h-full object-contain"
        />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img [src]="'assets/logos/NVDA.png'" alt="Kurum Logosu" class="w-24 h-24 object-contain" 
              class="max-w-full max-h-full object-contain"
        />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img [src]="'assets/logos/TSLA.png'" alt="Kurum Logosu" class="w-24 h-24 object-contain" 
              class="max-w-full max-h-full object-contain"
        />
      </div>

    </div>
  </p-card>
</div>
<footer class="bg-purple-600 text-white text-center p-4 mt-8">
  <p class="text-sm">💙 Finansal Tahmin Sistemi - Tüm Hakları Saklıdır.</p>
  <p class="text-xs mt-2">Made with 💖 by <span class="font-semibold">Bazo</span></p>
</footer>
