<div class="flex justify-center h-screen px-10 mt-2 border-gray-500 ">
  <p-card class="w-full max-w-7xl mx-auto mt-3">
    <header class="flex justify-center font-semibold text-xl">Kurumlar</header>
    <div class="grid grid-cols-4 grid-rows-3 gap-6 bg-orange-200 border-2 border-orange-300 p-6 mt-5">
      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>
      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>

      <div class="border-2 border-orange-500 p-4">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>
      <div class="border-2 border-orange-500 p-4 col-start-2 ">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>

      <div class="border-2 border-orange-500 p-4 col-start-3">
        <img src="C:/Users/beyza/BorsaTakip/src/assets/Apple_logo_black.svg.png" alt="Kurum Logosu" class="w-24 h-24 object-contain" />
      </div>
    </div>
  </p-card>
</div>
<footer class="bg-purple-600 text-white text-center p-4 mt-8">
  <p class="text-sm">💙 Finansal Tahmin Sistemi - Tüm Hakları Saklıdır.</p>
  <p class="text-xs mt-2">Made with 💖 by <span class="font-semibold">Bazo</span></p>
</footer>
