<div class="p-4">
  <h2 class="text-2xl font-semibold mb-4 text-center">Radar</h2>

  <!-- Filtre Alanları -->
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 mb-6">
    <p-dropdown 
      [options]="sectors" 
      [(ngModel)]="selectedSector" 
      placeholder="Sektör seçiniz">
    </p-dropdown>

    <p-dropdown 
      [options]="adviceTypes" 
      [(ngModel)]="selectedAdvice" 
      placeholder="Tavsiye Durumu">
    </p-dropdown>

    <p-dropdown 
      [options]="institutions" 
      [(ngModel)]="selectedInstitution" 
      placeholder="Kurum seçiniz">
    </p-dropdown>

    <p-calendar 
      [(ngModel)]="startDate" 
      placeholder="Tahmin Başlangıç Tarihi" 
      dateFormat="yy-mm-dd">
    </p-calendar>

    <p-calendar 
      [(ngModel)]="endDate" 
      placeholder="Tahmin Bitiş Tarihi" 
      dateFormat="yy-mm-dd">
    </p-calendar>

    <p-dropdown 
      [options]="stockCodes" 
      [(ngModel)]="selectedStockCode" 
      placeholder="Senet Kodu Seçiniz">
    </p-dropdown>

    <button 
      pButton 
      type="button" 
      label="Filtrele" 
      class="p-button-primary" 
      (click)="getRadarData()">
    </button>

    <button 
      pButton 
      type="button" 
      label="Temizle" 
      class="p-button-secondary" 
      (click)="clearFilters()">
    </button>
  </div>

  <!-- Tablo Alanı -->
  <p-table 
  [value]="allCards" 
  [paginator]="true" 
  [rows]="5"
  [responsive]="true" 
  [resizableColumns]="true" 
  class="p-datatable-gridlines text-center">

    <ng-template pTemplate="header">
      <tr>
        <th>Hisse</th>
        <th>Tavsiye</th>
        <th>Hedef Fiyat</th>
        <th>Getiri (%)</th>
        <th>Kapanış</th>
        <th>Kurum</th>
        <th>Sektör</th>
        <th>Tarih</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-stock>
      <tr>
        <td>{{ stock.stock_code }}</td>
        <td>{{ stock.advice_type }}</td>
        <td>{{ stock.target_price | number: "1.2-2" }}</td>
        <td>{{ stock.potential_return | number: "1.2-2" }}</td>
        <td>{{ stock.close_price | number: "1.2-2" }}</td>
        <td>{{ stock.institution }}</td>
        <td>{{ stock.sector }}</td>
        <td>{{ stock.advice_date }}</td>
      </tr>
    </ng-template>

  </p-table>
</div>
