<div class="flex justify-center h-screen px-10 mt-2 border-gray-500 ">
  <p-card class="w-full max-w-7xl mx-auto mt-3">
    <div class="grid grid-cols-3 gap-4 p-4">
      <!-- Sektör Dropdown -->
      <div>
        <p-dropdown placeholder="Sektör seçiniz"></p-dropdown>
      </div>
      <div>
        <p-dropdown placeholder="Tavsiye durumu"></p-dropdown>
      </div>
      <div>
        <p-dropdown placeholder="Kurum seçiniz"></p-dropdown>
      </div>
      <div>
        <input type="date" placeholder="Tahmin başlangıç tarihi seçin" class=" p-2 border border-gray-300 rounded-md">
      </div>
      <div>
        <input type="date" placeholder="Tahmin başlangıç tarihi seçin" class="p-2 border border-gray-300 rounded-md">
      </div>
      <div class="col-span-1 flex space-x-3">
        <div class="">
          <p-dropdown placeholder="Senet Kodu seçiniz"></p-dropdown>
        </div>
        <div class="">
          <p-button class="p-button-xs">Filtrele</p-button>
        </div>
      </div>
    </div>
  </p-card>
</div>
<footer class="bg-purple-600 text-white text-center p-4 mt-8">
  <p class="text-sm">💙 Finansal Tahmin Sistemi - Tüm Hakları Saklıdır.</p>
  <p class="text-xs mt-2">Made with 💖 by <span class="font-semibold">Bazo</span></p>
</footer>
